.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 0%;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 0.5%;
  background-color: #fff;
  position: sticky;
}

.title {
  border: none;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #296CA6;
}

.buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
}

.search {
  background-color: #fff;
  border: none;
}

.button {
  background-color: #fff;
  box-shadow: none;
  color: #296CA6;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border-color: #296CA6;
  font-size: 15px;
}

.search-area {
  display: none;
  flex-direction: column;
  padding: 10px 7% 20px;
  background-color: #d9d9d9;
}

.search-label {
  font-size: 18px;
  font-family: 'Arial';
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}